*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backgroundAdminSignUp {
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  font-size: 30px;
}

.backgroundAdminSignUp input {
  font-size: 30px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px 10px;
}

.backgroundAdminSignUp button {
  font-size: 30px;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
}

.backgroundDashboard {
  width: 100vw;
  height: 100vh;
  background-color: #262626;
}

.backgroundAddTeacher {
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.backgroundAddTeacher input {
  font-size: 35px;
}

.backgroundAddTeacher button {
  font-size: 35px;
}

.backgroundTeacherSignIn {
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-size: 35px;
}

.backgroundTeacherSignIn input {
  font-size: 35px;
}

.backgroundTeacherSignIn button {
  font-size: 35px;
}

.backgroundCreateClass {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #262626;
  color: #fff;
  font-size: 30px;
}

.backgroundCreateClass input {
  font-size: 20px;
}